@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/*header*/

nav{
    background-color: #A15EAB;
}

#extencao-navbar{
    margin-bottom: 0px;
}

#extencao-navbar a{
    display: flex;
    align-items: center;
    color: #A15EAB;
}

#extencao-navbar a:hover{
    background-color: #A15EAB;
    color: white;
}

#pesquisa{
    background-color: #ffffff;
    border: none;
    width: 280px;
    height: 40px;
    margin-top: 10px;
}
#iconsearch{
    margin-top: -10px;
}

#pesquisa label i{
    color: #A15EAB;
}

#pesquisa-mobile{
    background-color: #A15EAB;
    border: none;
}

#pesquisa label i{
    color: #A15EAB;
} 
::placeholder{
    
    color: #A15EAB;

}
/*Main*/
main{
    background-color: #e5e4e2;
}
#link{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
#iconuser{
    color: rgba(114, 55, 122, 0.8);
    margin-top: 10px;
}
.accent1{
    color: rgba(114, 55, 122, 0.8);
    font-family: 'Nunito', sans-serif;
}
#informacao{
    cursor: pointer;
    transform: scale(1.5);
    border-bottom: 2px solid rgba(114, 55, 122, 0.8);
    box-shadow: 0px 3px  rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 20px;
}
#pagina{
    color: rgba(114, 55, 122, 0.8);
    font-size: 20px;
}
#texto-central{
    margin-top: -450px;
    color: #ffffff;
}

#texto-central h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

span{
    color: #A15EAB;
    font-size: 160%;
}

.slogan p{
    font-size: 160%;
    font-family: 'Acme', sans-serif;
    margin-bottom: 40px;
}

.conteudo p{
    font-size: 130%;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.carde{
    margin-top: 40px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.carde img{
    width: 80%;
}

.conteudo span{
    font-size: 140%;
}

.propaganda{
    background-color: #A15EAB;
    margin-top: 140px;
    height: 330px;
    font-family: 'Nunito', sans-serif;
}

.propaganda h4{
    font-size: 160%;
    font-family: 'Acme', sans-serif;
    color: #ffffff;
}

.propaganda li{
    font-size: 130%;
    font-family: 'Acme', sans-serif;
}

.propaganda img{
    margin-top: -70px;
}
.propaganda2{
    background-color: white;
    margin-top: 140px;
    height: 330px;
    font-family: 'Nunito', sans-serif;
}

.propaganda2 h4{
    font-size: 160%;
    font-family: 'Acme', sans-serif;
    color: #A15EAB;
}

.propaganda2 li{
    font-size: 130%;
    font-family: 'Acme', sans-serif;
}

.propaganda2 img{
    margin-top: -70px;
}

.texto{
    margin-bottom: 40px;
}

/*footer*/
footer nav{
    height: 150px;
    margin-top: 50px;
}

.icon{
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.icon i{
    width: 90px;
}

footer nav p{
    margin: 0px;
}

#linha{
    border: 1px solid white;
}
.fab{
    font-size: 40px;
}